Mozzi-resources
*.out
*.ogg
*.mp3
sonar-project.properties
*.bak
*#*
images
doxygen*
Makefile*
tags
user_guide.md
notes.txt
FAQ.md
*.dox
*~
*.o
*.lo
*.la
*.tar.bz2
*.tar.gz
.deps
.libs
config.sub
config.guess
config.log
config.status
config.h*
configure
install-sh
intltool-*
libtool
ltmain.sh
mkinstalldirs
depcomp
missing
autom4te.cache
autogen.err
stamp-*
aclocal.m4
gnome-doc-utils.make
Makefile
Makefile.in
help/cs/*.mo
help/cs/*.page
help/da/*.mo
help/da/*.page
help/de/*.mo
help/de/*.page
help/es/*.mo
help/es/*.page
help/fr/*.mo
help/fr/*.page
help/lt/*.mo
help/lt/*.page
help/ru/*.mo
help/ru/*.page
help/sl/*.mo
help/sl/*.page
help/zh_CN/*.mo
help/zh_CN/*.page
data/org.gnome.gnote.gschema.valid
data/org.gnome.gnote.gschema.xml
data/org.gnome.gnote.panel-applet
data/org.gnome.gnote.panel-applet.in
data/org.gnome.panel.applet.GnoteAppletFactory.service
data/gnote.desktop
data/gnote.desktop.in
data/gnote.schemas
data/org.gnome.Gnote.service
src/dttest
src/filestest
src/gnote
src/gnote-applet
src/libgnote.a
src/notetest
src/stringtest
src/trietest
src/uritest
src/xmlreadertest
src/addins/addins.mk
src/addins/fixedwidth/fixedwidth.so
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/gnome-doc-utils.m4
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/*.gmo
