name: Arduino Lint
on:
  push:
  pull_request:
  # Allow manual trigger
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: arduino/arduino-lint-action@v1
        with:
          project-type: library
          library-manager: update
          compliance: specification
